html{
  font-family: verdana;
  background-color: black;
  image-orientation: center;
  text-align: center;
}
h1{
  font-size: 50px;
  color: white;
  font-weight: normal;
}
h3.futurelink{
  color: aquamarine;
  font-size: 16px;
}
h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p{
  font-size: 21px;
  color: gray;
}
.copyright{
  text-align: right;
  color: gray;
}
